<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/agenda-crud-jpa-hibernate/src/br/com/tecnonoticias/agenda_jpa_main/AgendaInsert.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.tecnonoticias.agenda_jpa_main.AgendaInsert"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="agenda-crud-jpa-hibernate"/>
</launchConfiguration>
